/* -----------------------
Base styles
------------------------*/
body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 2.25em;
} /* 36px */
h2 {
	font-size: 1.75em;
} /* 28px */
h3 {
	font-size: 1.375em;
} /* 22px */
h4 {
	font-size: 1.125em;
} /* 18px */
h5 {
	font-size: 1em;
} /* 16px */
h6 {
	font-size: .875em;
} /* 14px */
p {
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote {
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #000000;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    font-size: 12px;
    color: initial;
}
a:link {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:focus {
	color: black;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

/* -----------------------
Layout styles
------------------------*/
.container {
	max-width: 100em;
	margin: 0;
	padding: 0;
}

.heading {
	color: #fff;
	background: #f0c575;
	padding: .5em 9em;
	font-size: 31px;
	font-style: italic;
	text-shadow: 2px 2px 4px #83615c;
}

.header-heading {
	margin: 0;
}

.nav-bar {
	background: #000;
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.menu-items {
	float: right;
	margin: 0 0;
	box-shadow: 10px 10px 5px #b5b5b5;
}
.content {
	padding: 1em 1.25em;
	background-color: #fff;
}

.footer {
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
}

/* -----------------------
Nav
------------------------*/
.nav {
	margin: 0;
	padding: 0;
	list-style: inline;
}

.nav li {
	display: inline;
	margin: 0;
}

.nav a {
	display: block;
	padding: 0em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.nav a:link {
	color: white;
}

.nav a:visited {
	color: white;
}

.nav a:focus {
	color: black;
	background-color: white;
}

.nav a:hover {
	color: white;
	background-color: green;
}

.nav a:active {
	color: white;
	background-color: red;
}

.side-menu {
	margin: 0;
	padding: 0;
	list-style: circle;
}
.side-menu li {
	display: block;
	margin: 0;
}

.side-menu a {
	display: block;
	padding: 0em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.side-menu a:link {
	color: #f0c575;
}

.side-menu a:visited {
	color: #db9717;
}

.side-menu a:focus {
	color: black;
	background-color: white;
}

.side-menu a:hover {
	color: white;
	background-color: green;
}

.side-menu a:active {
	color: white;
	background-color: red;
}

/* -----------------------
Single styles
------------------------*/
.img-responsive {
	max-width: 100%;
}

.logo {
	position: fixed;
	left: 0px;
	top: 0px;
}

.btn {
	color: #fff !important;
	background-color: royalblue;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover {
	color: #fff !important;
	background-color: green;
}

.btn:focus {
	color: #fff !important;
	background-color: black;
}

.btn:active {
	color: #fff !important;
	background-color: red;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/
@media ( min-width : 42em) {
	.header {
		padding: 1.5em 3em;
	}
	.nav-bar {
		padding: 1em 3em;
	}
	.content {
		padding: 2em 3em;
	}
	.footer {
		padding: 2em 3em;
	}
	.nav li {
		display: inline;
		margin: 0 1em 0 0;
	}
	.nav a {
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}

td:nth-child(1) {
	text-align: right;
}


#listaccounts {
	border-collapse: collapse;
	width: 50%;
}

.footer {
	float: bottom;
	font-size: 10px;
}

.content {
	height: 550px;
	background: -webkit-linear-gradient(#d5e6ee, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d5e6ee, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d5e6ee, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#d5e6ee, white);
	/* Standard syntax (must be last) */
}

.error {
	color: red;
	font-size: 12px
}

.valid {
	color: green;
	font-size: 12px;
}

table.inventoryDetails td {
	padding: 20px;
}

table.dailyspecials td {
	padding: 0 20px;
	vertical-align: text-bottom;
}

.addaccount {
	font-size: 14px;
}

.accountheader {
	font-size: 30px;
}

.inventoryheader {
	font-size: 30px;
}
.paging {
	text-align: center;
	padding: 0 1.5em;
}

.paging li
{
	
	display: inline;
}
.invoiceItemDetails td
{
	padding: 1em;	
	vertical-align: bottom;
}
.invoicedetail td
{
	padding: 2em;
}
tfoot.tablefooter td 
{
	background: #d5e6ee;
	color: #000000;
	font-size: 12px;
	font-weight: 900;
	text-align: right;
}
.viewledger
{
	border-collapse: collapse;
}
.viewledger th
{
	background: #f5f3c2;
}
.viewledger tr:nth-child(odd)
{
	background: #dedbee;
}
.viewledger tr:nth-child(even)
{
	 background: #fbfbff;
}
table.viewledger td
{
	padding: 0 2em;
	border: 1px solid black;
}
.viewheader td:nth-child(4)
{
	text-align: right;
}
div.pageheading
{
	color: #dfa620;
}
table.viewheader td
{
	padding: 0 2em;
	border: 1px solid black;
}
.viewheader
{
	border-collapse: collapse;
	font-size: 12px;
}
.viewheader th
{
		background: #f5f3c2;
}
.viewheader tr:nth-child(odd)
{
	background: #dedbee;
}
.viewheader tr:nth-child(even)
{
	background: #fbfbff;
}
table.signup td
{
	padding: 0;
	text-align: left;
}

table.catlist td
{
	text-align: center;
	font-size: 20px;
}
table.catlist
{
    margin-left:auto; 
    margin-right:auto;
}



.ordertable 
{
	border-collapse: collapse;
}
.ordertable td
{
	text-align: right;	
	padding: 0 1em;

}
table.ordertable tr:nth-child(odd)
{
	background: #dedbee;
}
table.ordertable tr:nth-child(even)
{
	background: #fbfbff;
}
table.ordertable th
{
	background: #f5f3c2;
}

.invoicetable 
{
	border-collapse: collapse;
	font-size: 12px;
}
.invoicetable td:nth-child(6), td:nth-child(7)
{
	text-align: right;
}
.invoicetable td:nth-child(7)
{
	text-align: right;
}
.invoicetable td
{
	text-align: left;	
	padding: 0 1em;

}
.invoiceheade td
{
	padding: 0 1em;

}
table.invoicetable tr:nth-child(odd)
{
	background: #dedbee;
}
table.invoicetable tr:nth-child(even)
{
	background: #fbfbff;
}
.invoicehead td
{
	background: #f5f3c2;
	font-weight: bold;
}

.inventorytable 
{
	border-collapse: collapse;
}
.inventorytable td
{
	text-align: right;	
	padding: 0 1em;
}
table.inventorytable tr:nth-child(odd)
{
	background: #dedbee;
}
table.inventorytable tr:nth-child(even)
{
	background: #fbfbff;
}
table.inventorytable th
{
	background: #f5f3c2;
}
.productdetails td 
{
	padding: 0 .5em;
	text-align: left;
	vertical-align: text-top;
	vertical-align: top;
}

.accounttable 
{
	border-collapse: collapse;
}
.accounttable td
{
	text-align: right;	
	padding: 0 1em;
}
table.accounttable tr:nth-child(odd)
{
	background: #dedbee;
}
table.accounttable tr:nth-child(even)
{
	background: #fbfbff;
}
table.accounttable th
{
	background: #f5f3c2;
}

.userstable 
{
	border-collapse: collapse;
}
.userstable td
{
	text-align: right;	
	padding: 0 1em;
}
table.userstable tr:nth-child(odd)
{
	background: #dedbee;
}
table.userstable tr:nth-child(even)
{
	background: #fbfbff;
}
table.userstable th
{
	background: #f5f3c2;
}
table.productlist td
{
	padding: 0 .5em;
	vertical-align: text-bottom;
}

fieldset {
	float: left;
	display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 4px ridge #808080;
}
.printorders {
	float: center;
}
.returns {
border-collapse: collapse;	
}
.returns td {
	text-align: right;	
	padding: 0 2.5em;
	
}


.viewreturns {
	border-collapse: collapse;
}

.viewreturns td {
	text-align: right;	
	padding: 0 2.5em;
}
table.viewreturns tr:nth-child(odd)
{
	background: #dedbee;
}
table.viewreturns tr:nth-child(even)
{
	background: #fbfbff;
}
table.viewreturns th
{
	background: #f5f3c2;
}
.rmadetails {
	border-collapse: collapse;	
}
table.rmadetails th {
	background: #f5f3c2;
}
table.rmadetails td, th {
	text-align: left;
	padding: 0 2.5em;	
}
table.rmadetails caption{
	font-weight: bold;
	background: #a6a6ff;
}
hr {
	    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 4px;
    border-color: #c9c4e3;
}
table.getRma td, th {
	text-align: left;
	padding: 0 2.5em;	
}
table.returns-status td, th {
	text-align: left;
	padding: 0 2.5em;	
	
}
.contact caption {
	font-weight: bold;
	font-size: 18px;
	padding: 1em;
}

table.pcinfoTable td, th{
	text-align: right;
	
}
.emailtable {
	border-collapse: collapse;
}
.emailtable th:nth-child(1), td:nth-child(1) {
	text-align: left;
	padding: 0 1.5em;
}

.emailtable tr:nth-child(odd)
{
	background: #dedbee;
}

.emailtable tr:nth-child(even)
{
	background: #fbfbff;
}

.emailtable th
{
	background: #f5f3c2;
}
.paymentRadio
{
	display: block;
}
.shoppingtable
{
	border-collapse: collapse;
	font-size: 12px;
	
}
.shoppingtable tr:nth-child(odd)
{
	background: #dedbee;
}
.shoppingtable tr:nth-child(even)
{
	background: #fbfbff;
}
.shoppingtable th
{
	background: #f5f3c2;
}
.shoppingtable tr
{
	text-align: right;
}
.shoppingtable td, th
{
	text-align: right;
	padding: .5em;
	
}

.coupontable td, th {
	text-align: left;
}

.viewcoupons tr:nth-child(odd)
{
	background: #dedbee;
}
.viewcoupons 
{
	border-collapse: collapse;
}
.viewcoupons tr:nth-child(even)
{
	background: #fbfbff;
}
.viewcoupons th
{
	background: #f5f3c2;
}
.viewcouponfoot
{

	background: #ffffff;
}
.standout
{
	background-color: #f0c575;
}
.disclaimer
{
	float: right;
	margin: 0 0;
	border: 4px ridge #808080;
	box-shadow: 10px 10px 5px #b5b5b5;
}
.logos{
	padding-top: 0em;
	float: right;
	margin: 0 0;
	clear: right;
	}